@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap');
 *{
    box-sizing: border-box;
 }
.banner-wrapper{
    position: relative;
    display: flex;
    justify-content: center;
}
.banner-wrapper > .text1{
    position: absolute;
    top: 10%;
    text-align: center;
    color: var(--gray-scale-gray-900, #1A1A1A);
    text-align: center;
    font-family: Poppins;
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: 100%; /* 12px */
    letter-spacing: 0.36px;
    text-transform: uppercase;
    
}

.banner-wrapper > .text2{
    position: absolute;
    top: 15%;
    left: 29%;
    text-align: center;
    color: var(--branding-success, #00B207);
    text-align: center;
    
    /* Heading 05/Heading 05 — 600 */
    font-family: Poppins;
    font-size: 32px;
    font-style: normal;
    font-weight: 600;
    line-height: 120%; /* 38.4px */
   
    
}

.banner-btn{
    position: absolute;
    top: 30%;
    border-radius: 43px;
    background: var(--gray-scale-white, #FFF);
    box-shadow: 0px 0px 12px 0px rgba(0, 0, 0, 0.12);
    border: none;
    color: var(--branding-success, #00B207);
    font-family: Poppins;
    font-size: 14px;
    font-weight: 600;
    padding: 0.6em 1em;
    gap: 0.4em;
    align-items: center;
    display: flex;
    cursor: pointer;
}

.shop-link-now{
    text-decoration: none;
    color: #FFF;
  }

