.dropdown-list{
    margin-left: 1em;
    border-bottom: 1px solid #E6E6E6;
    padding: 1em 0em;
}
.ct-labels{
    color: var(--Gray-Scale-Gray-900, #1A1A1A);
    font-family: Poppins;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%; /* 21px */
    margin-left: 0.3em;
    top: -1.6px;
    position: relative;
    
}

.dropdown-list > input[type='radio']:checked:after {
    width: 9px;
    height: 9px;
    left: 1.8px;
    top: -1px;
    border-radius: 15px;
    position: relative;
    background-color: #00B207;
    content: '';
    display: inline-block;
    visibility: visible;
    border: 0px solid white;
}
