@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap');
 .Shop-hero{
    display: flex;
    padding: 1em 5em;
    
    
}
.filters-panel{
    width: 25%;
    display: block;
    padding: 0.5em 0.5em;
}

.shop-products-panel{
     width: 75%; 
    display: flex;
    flex-wrap: wrap;
    grid-template-columns: auto auto auto;
    justify-content: space-between;
    gap: 0.8em;
    max-width: 1200px;
    
}

.shop-products-panel > div {
    
    display: grid;
    grid-template-columns: auto auto auto;
    flex-wrap: wrap;
    height: 50%;
    gap: 1em;
}

.top-area , .sort-wrapper, .sort-by{
    display: flex;
    align-items: center;
}
.top-area{
    justify-content: space-between;
    padding: 2em 5em;
}

.sort-wrapper{
    justify-content: space-between;
    width: 70%;
}

.sort-by{
    display: flex;
    gap: 1em;
    align-items: normal;
}

.sort-by > p {
    color: var(--gray-scale-gray-500, #808080);

/* Body Small/Body Small, 400 */
font-family: Poppins;
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: 150%; /* 21px */
}
.filter-disp{
    border-radius: 43px;
    background: var(--branding-success, #00B207);
    color: #FFFFFF;
    display: flex;
    align-items: center;
    padding: 10px 28px;
    justify-content: center;
    align-items: center;
    gap: 12px;
}

.tag{
    border-radius: 30px;
background: var(--gray-scale-gray-50, #F2F2F2);
color: var(--gray-scale-gray-900, #1A1A1A);

/* Body Small/Body Small, 400 */
font-family: Poppins;
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: 150%; /* 21px */
padding: 0.5em 0.5em;
cursor: pointer;
}
.tag-ctn{
    display: flex;
    flex-wrap: wrap;
    gap: 0.4em;
}

.results{
    color: var(--gray-scale-gray-600, #666);
    display: flex;
    gap: 0.2em;
    /* Body Medium/Body Medium, 400 */
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%; 
}

.results > p{
    font-weight: 600;
    color: var(--gray-scale-gray-900, #1A1A1A);
}

.cat-dropdown-button,.price-dropdown, .rating-dropdown,  .tags-drp, .sale-prd {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: none;
    background-color: #fff;
    color: var(--gray-scale-gray-900, #1A1A1A);
    /* border: none; */
    width: 100%;
/* Body XL/Body XL, 500 */
    font-family: Poppins;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 150%; /* 30px */
    cursor: pointer;
    margin-top: 0.5em;
  }

  .banner{
    margin-top: 0.5em;
  }
 .sale-products{
    display: flex;
    flex-direction: column;
    gap: 0.5em
 }

/* DropdownMenu.css */
/* .dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-button {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
  }
  
  .dropdown-list {
    top: 100%;
    left: 0;
    background-color: #fff;
    border: 1px solid #ccc;
    list-style: none;
    padding: 0;
    margin: 0;
    display: block;
  }
  
  .dropdown-list input,label {
    padding: 10px;
    cursor: pointer;
  }
  
  .dropdown-list input:hover,label:hover {
    background-color: #f0f0f0;
  } */